force-app/main/default/flows/Get_Opportunity_Reminders_NoPrompt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Fetched_Opportunities</name>
        <label>Store Fetched Opportunities</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FetchedOpportunities</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunities_Based_on_BufferDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>updated stage conditions</description>
    <environments>Default</environments>
    <formulas>
        <name>MarginDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Buffer_Day_Count}</expression>
    </formulas>
    <interviewLabel>Get Opportunity Reminders NoPrompt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Opportunity Reminders NoPrompt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities_Based_on_BufferDate</name>
        <label>Get Opportunities Based on BufferDate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Fetched_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X1_Month_Follow_Up_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>MarginDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>X1_Month_Follow_Up_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>X1_Month_Follow_Up_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>X1_Month_Follow_Up_Date__c</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>NextStep</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ExpectedRevenue</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities_Based_on_BufferDate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Buffer_Day_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FetchedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
