force-app/main/default/flows/Get_Opportunity_Reminder_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Setting_Prompts_on_Opportunity</name>
        <label>Setting Prompts on Opportunity</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <actionName>Get_Opportunity_Reminder_Prompted</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>looping_through_Opportunities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Contatct</name>
            <value>
                <elementReference>Get_Related_Contact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Opportunity</name>
            <value>
                <elementReference>looping_through_Opportunities</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Get_Opportunity_Reminder_Prompted</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Storing_Prompt</name>
        <label>Storing Prompt</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>FinalPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Setting_Prompts_on_Opportunity.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>MarginDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Buffer_Day_Count}</expression>
    </formulas>
    <interviewLabel>Get Opportunity Reminder Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Opportunity Reminder Records</label>
    <loops>
        <name>looping_through_Opportunities</name>
        <label>looping through Opportunities</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Opportunities_Based_on_BufferDate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Related_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Storing_Prompt</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities_Based_on_BufferDate</name>
        <label>Get Opportunities Based on BufferDate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>looping_through_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X1_Month_Follow_Up_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>MarginDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>X1_Month_Follow_Up_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>X1_Month_Follow_Up_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CSM_3_Months_Follow_Up_Complete__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Setting_Prompts_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>looping_through_Opportunities.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities_Based_on_BufferDate</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Buffer_Day_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FetchedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>FinalPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
