force-app/main/default/flows/Show_Case_And_Other_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Setting_Output_Prompt</name>
        <label>Setting Output Prompt</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>Get_Case_Related_Details</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Prompt_Setting</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Opportunity_Details</name>
            <value>
                <elementReference>Get_Related_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Case_Details</name>
            <value>
                <elementReference>Get_Case_Details</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Get_Case_Related_Details</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Prompt_Setting</name>
        <label>Prompt Setting</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FinalPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Setting_Output_Prompt.promptResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Storing_Opportunity_Name</name>
        <label>Storing Opportunity Name</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OppName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Setting_Output_Prompt</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Show Case And Other Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Case And Other Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InpCaseNo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Storing_Opportunity_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Details.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Probability</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User to input the case number against which details to be fetched</description>
        <name>InpCaseNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
